@font-face {
    font-family: Pipboy;
    src: url('../misc/monofonto.otf');
}

html {
    min-height: 100vh;
    scroll-behavior: smooth;
}


.navbar.navbar-light .navbar-nav {
    margin: 0px 200px;

}
.navbar {
    border-bottom: 2px solid;
    margin: 10px;
}


.navbar::after, .navbar::before {
    height: 7px;
    width: 2px;
    content: "";
    position: absolute;
    display: block;
    z-index: 5000;
    background: #14fe17;
    bottom:-8px
} 

.navbar::before{
    left: 0px;
}

.navbar::after {
    right: 0px
}

.navbar-nav {
    width: 100%;
    text-align: center;
    font-size: 32px;
    line-height: 22px;
    padding-bottom:0px;
    padding-left:0px;
    padding-right:0px;
    z-index: 50;
    position: relative;
    background-color: #272b23;
}

.navbar-light ul.navbar-nav > li {
    display: block;
    position: relative;
    width: 100%;
    padding: 0px 20px;
}

body {
    font-family: Pipboy, sans-serif;
    color: #14fe17;
    background-color: #272b23;
    overflow: hidden;
    min-height: 100%;
    height: 100vh;
    font-size: 24px;
}


body::after {
    height: 100%;
    width: 100%;
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    background: repeating-linear-gradient(0deg, rgb(0,0,0,0.5), rgba(0,0,0,0.4), 1px, transparent 1px, transparent 2px);
    opacity: 0.3;
    z-index: 100000000000;
    pointer-events: none;
}


.main-nav.nav-link.active::before {
    content: "";
    position: absolute;
    background-color: #272b23;
    width: 100%;
    left:0%;
    right: 0%;
    height: 27.8px;
    top:20px;
    border-left: 2px solid;
    border-right: 2px solid;
    border-top: 2px solid;
    z-index: -1;
}

.main-nav.nav-link.active {
    z-index:500;
    background-color: #272b23;
    padding-bottom:0px
}

.nav-tabs .nav-link.active {
    background-color: #272b23;
    border-bottom:none;
}

.nav.nav-tabs {
    margin: 20px;
    border: none;

}
.sub-nav.nav-link{
    outline: 0;
    border: 0px;
    font-size: 25px;
}

.navbar-nav, .nav-link {
    color: #14fe17 !important;
}

.center-image {
    position: absolute;
    margin-left: 110px;
}

.center-image img{
    margin: auto;
    display: block;
    position: relative;
    max-height: 300px;
    margin-top: 50px;
    filter: grayscale(1) sepia(100%) hue-rotate(55deg) saturate(7) brightness(1) contrast(2);
    width: 125%;
}

.map-image {
    text-align: center;
}

.map-image img {
    margin-top:100px;
    filter: grayscale(1) sepia(100%) hue-rotate(55deg) saturate(1) brightness(1) contrast(2);
}

.radio-image {
    text-align: center;
}

.radio-image img {
    margin-top:100px;
    filter: grayscale(1) sepia(100%) hue-rotate(55deg) saturate(1) brightness(1) contrast(2);
}

.stat-bar {
    width: 60px;
    margin: auto;
}

.stat-bars > .row > {
    margin-bottom: 80px
}

.row.icons {
    padding-right: 40%;
    padding-left: 40%;
}

.row.icons .col-1, .row.icons .col-2 {
    background-color: rgba(0, 255, 106, 0.15);
}

.row.icons .col-1.transparent, .row.icons .col-2.transparent {
    background-color: transparent;
}

.w10 {
    width: 10%
}

.w20 {
    width: 20%
}

.w30 {
    width: 30%
}

.w40 {
    width: 40%
}

.w50 {
    width: 50%
}

.w60 {
    width: 60%
}

.w70 {
    width: 70%
}

.w80 {
    width: 80%
}

.w90 {
    width: 90%
}

.w100 {
    width: 100%
}

.tab-content > .active {
    display: block;
    margin-left: 40px;
}

.row.icons img {
    width: 100%;
    filter:grayscale(1) invert(2) sepia(100%) hue-rotate(55deg) saturate(20000) brightness(200);
    padding-top: 10%;
}

.level-progress {
    width: 70%;
    height: 10px;
    border: 1px solid;
    display: inline-block;
    margin-bottom: 90px
}

#status, #weapons{
    max-width: 400px;
    margin: auto;
}

.second-tab {
    opacity: 0.5;
}
  
.third-tab {
    opacity: 0.3; 
}
.level-progress-big {
    width: 70%;
    height: 10px;
    border: 1px solid;
    display: inline-block;

}

.level-progress-indicator {
    height:100%;
    background:#14fe17;
    position: relative;
}

#weapons.tab-pane.full {
    width: 100%;
    max-width: 100%;
    margin-left: 2%;
    margin-right: 2%;
    
}

.tab-pane.full {
    height: calc(100vh - 180px);
}

.item-list {
    float:left;
    padding:0px;
    list-style:none;
    margin:0px
}

.item-list li a {
    display:block;
    width: 300px;
    padding: 5px 10px;
    border-radius: 2px;
    color: #14fe17;
    text-decoration: none;
    padding-left: 25px;
    
}

.item-list a.active_gun::before {
    content: "";
    display: block;
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: #14fe17;
    left: 2.3%;
    margin-top: 12px;

}

.item-list a.active_gun:hover::before {
    background-color: #272b23;
}


.item-list li a:hover {
    background-color: #14fe17;
    color:#272b23;
}

.special-list {
    float:left;
    padding:0px;
    list-style:none;
    margin:0px
}

.special-list li a {
    display:block;
    width: 300px;
    padding: 5px 10px;
    border-radius: 2px;
    color: #14fe17;
    text-decoration: none;
    padding-left: 25px;
    
}

.special-list a.active_gun::before {
    content: "";
    display: block;
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: #14fe17;
    left: 45px;
    margin-top: 12px;

}

.special-list a.active_gun:hover::before {
    background-color: #272b23;
}


.special-list li a:hover {
    background-color: #14fe17;
    color:#272b23;
}

.perk-list {
    float:left;
    padding:0px;
    list-style:none;
    margin:0px
}

.perk-list li a {
    display:block;
    width: 300px;
    padding: 5px 10px;
    border-radius: 2px;
    color: #14fe17;
    text-decoration: none;
    padding-left: 25px;
    
}

.perk-list a.active::before {
    content: "";
    display: block;
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: #14fe17;
    left: 45px;
    margin-top: 12px;

}


.perk-list a.active:hover::before {
    background-color: #272b23;
}


.perk-list li a:hover {
    background-color: #14fe17;
    color:#272b23;
}


.item-stats {
    position: absolute;
    right:2%;
    bottom:100px;
    width: 250px;
}

#weapons.tab-pane.full .item-stats .weapons-img {
    position: absolute;
    right: 25vw;
    width: 50vh;
    bottom: 40vh;
    filter:grayscale(1) sepia(100%) hue-rotate(55deg) saturate(1) brightness(1);
}


.special-stats {
    position: relative;
    width: 40%;
    text-align: center;
}

.special-img{
    height:60%;
    filter:grayscale(1) sepia(100%) hue-rotate(55deg) saturate(3) brightness(1);
}

.perk-stats {
    position: relative;
    width: 40%;
    text-align: center;
}

.perk-img{
    height:60%;
    filter:grayscale(1) sepia(100%) hue-rotate(55deg) saturate(3) brightness(1);
}

.junk-list {
    float:left;
    padding:0px;
    list-style:none;
    margin:0px
}

.junk-list li a {
    display:block;
    width: 300px;
    padding: 5px 10px;
    border-radius: 2px;
    color: #14fe17;
    text-decoration: none;
    padding-left: 25px;
    
}

.junk-list a.active::before {
    content: "";
    display: block;
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: #14fe17;
    left: 45px;
    margin-top: 12px;

}


.junk-list a.active:hover::before {
    background-color: #272b23;
}


.junk-list li a:hover {
    background-color: #14fe17;
    color:#272b23;
}

#junk.tab-pane.full {
    width: 100%;
    max-width: 100%;
    margin-left: 2%;
    margin-right: 2%;
    
}

.junk-stats {
    position: absolute;
    right:2%;
    bottom:100px;
    width: 250px;
}

.ammo-list {
    float:left;
    padding:0px;
    list-style:none;
    margin:0px
}

.ammo-list li a {
    display:block;
    width: 300px;
    padding: 5px 10px;
    border-radius: 2px;
    color: #14fe17;
    text-decoration: none;
    padding-left: 25px;
    
}

.ammo-list a.active::before {
    content: "";
    display: block;
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: #14fe17;
    left: 45px;
    margin-top: 12px;

}


.ammo-list a.active:hover::before {
    background-color: #272b23;
}


.ammo-list li a:hover {
    background-color: #14fe17;
    color:#272b23;
}

#ammo.tab-pane.full {
    width: 100%;
    max-width: 100%;
    margin-left: 2%;
    margin-right: 2%;
    
}

.ammo-stats {
    position: absolute;
    right:2%;
    bottom:100px;
    width: 250px;
}
.stats-list {
    float:left;
    padding:0px;
    list-style:none;
    margin:0px
}

.stats-list li a {
    display:block;
    width: 300px;
    padding: 5px 10px;
    border-radius: 2px;
    color: #14fe17;
    text-decoration: none;
    padding-left: 25px;
    
}

.stats-list a.active::before {
    content: "";
    display: block;
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: #14fe17;
    left: 45px;
    margin-top: 12px;

}


.stats-list a.active:hover::before {
    background-color: #272b23;
}


.stats-list li a:hover {
    background-color: #14fe17;
    color:#272b23;
}

#stats.tab-pane.full {
    width: 100%;
    max-width: 100%;
    margin-left: 2%;
    margin-right: 2%;
    
}

.stats-stats {
    position: absolute;
    right:30%;;
    width: 50%;
}

.row-highlight .col-12 {
    margin: 5px 10px;
    background: rgba(0, 255, 106, 0.15);
    padding: 2px 5px;
}

.scan {
    width: 100%;
    height: 100px;
    background: linear-gradient(rgba(0, 0, 0, 0), #7ff12a);
    position: absolute;
    animation: scan;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    top: -85px;
    z-index: 99;
    opacity: 0.25;
    pointer-events: none;
}

#mediPlay {
    display:none;
}

.click {
    display:none;
}

#show:hover~.click {
    display:block;
}

#content:hover~#b{
    display: block;
}



@keyframes scan {
    100% { transform: translate(0, 100vh); }
}

.pip-footer {
    border:none;
    position: fixed;
    bottom: 0px;
    padding: 10px 10px 10px 20px;
    margin: 10px;
    width: calc(100% - 20px);
    background: rgba(0, 255, 106, 0.15);
    font-size: 22px
}

